<vbox>
  <header class="flex-0">
    <h1>Idel</h1>
    <p data-ng-bind-html-unsafe="irc.currentChannel().topic | escape | linkify"></p>
    <button class="button-minimize" data-ng-click="minimize()">_</button>
    <button class="button-close" data-ng-click="exit()">&times;</button>
  </header>

  <network-list for="irc.networks" class="flex-0 horizontal"></network-list>

  <chat-window for="irc.currentChannel().buffer" class="flex-1"></chat-window>

  <nick-list for="irc.currentChannel().nicks" class="flex-0 horizontal"></nick-list>

  <input-box for="irc.current" class="flex-0"></input-box>
</vbox>
